/*Style untuk semua html*/
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Source Sans Pro", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/*Style untuk HOMEPAGE*/

.container {
  background-color: #101318;
}

nav {
  display: flex;
  background-color: #262b36;
  justify-content: space-around;
  padding: 20px 0;
  gap: 36%;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
  display: flex;  
  list-style: none;
  gap: 1rem;
  align-items: center;
}

.navbar h1 {
  font-family: Bebas Neue;
  font-size: 32px;
  color: yellow;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.603);
}

nav ul li a {
  text-decoration: none;
  color:white;
  font-weight: 600;
  font-size: 17px;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 2px solid rgba(255, 255, 0, 0);
}

nav ul li a:hover {
  color: yellow;
  border-bottom: 2px solid yellow;
}

.hero {
  font-size: 10px;
  padding: 2rem;
  margin-bottom: -20px;
  color: yellow;
}

.slide-show {
  width: 80%;
  height: 450px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}


.slide-wraper {
  display: flex;
  margin: 0 auto;
  aspect-ratio: 21/9;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  animation: slide 16s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.slide-wraper img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  border-radius: 15px;
}

.comingsoon {
  display: flex;
  padding-top: 2rem;
  padding-left: 9rem;
  padding-bottom: 1rem;
  gap: 0.5rem;
  color: #fff;
}

.icon-new {
  background-color: white;
  color: #101318;
  width: 42px;
  margin-top: 5px;
  height: fit-content;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px 0 10px 0;
}

.comingsoon h2 {
  font-weight: 500;
}

.container-comingsoon {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  width: 80%;
  align-items: flex-start;
  object-fit: cover;
  padding: 1rem;
  white-space: nowrap;
  margin: 0 auto;
}

.container-comingsoon::-webkit-scrollbar {
  display: none;
}

.poster-comingsoon {
  width: 150px;
}

.poster-comingsoon img {
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.poster-comingsoon img:hover {
  transform: scale(1.1);
  z-index: 2;
  
}

.poster-comingsoon h2 {
  margin-top: 7px;
  font-size: 15px;
  font-weight: 300;
}

.arrows {
  position: absolute;
  display: flex;
  align-items: center;
  left: 81%;
  gap: 5px;
}

.arrows button {
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
  z-index: 100;
  font-family: monospace;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  transition: 300ms;
}

#next {
  border-radius: 0 50% 50% 0;
}

#prev {
  border-radius: 50% 0 0 50%;
}

.arrows button:hover {
  background-color: yellow;
}

.arrows button:active {
  transform: scale(0.9);
}

.sedang-tayang {
  display: flex;
  padding: 1rem;
  padding-left: 9rem;
  gap: 0.5rem;
  color: #fff;
  margin-top: 2rem;
}

.sedang-tayang h2 {
  font-weight: 500;
}

.content {
  color: rgb(122, 130, 147);
}

.container-poster {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  gap: 2rem;
  object-fit: cover;
  justify-content: center;
  align-items: start;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.poster {
  width: 150px;
}

.poster img {
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.poster:hover img {
  transform: scale(1.1);
  z-index: 2;
}

.poster h2 {
  margin-top: 7px;
  font-size: 15px;
  font-weight: 300;
}

/*Style untuk page film*/

.film_1 {
  margin: auto;
  padding: 2rem;
  color: rgb(122, 130, 147);
}

.trailer video {
  display: flex;
  margin: auto;
  width: 85%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.headline_film {
  padding: 1rem;
  display: flex;
  width: 85%;
  margin: auto;
}

.identitas_film {
  padding-left: 1.5rem;
}

.identitas_film h2 {
  color: yellow;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.identitas_film ul li {
  list-style: none;
  padding: 1rem;
  line-height: 1.5;
}

.ratingfilm {
  display: flex;
  gap: 5px;
  padding-left: 7rem;
  font-size: 27px;
  color: #ffff00;
}

.sinopsis {
  margin: auto;
  width: 85%;
  padding: 1rem;
  text-align: justify;
}

.sinopsis h3 {
  font-style: italic;
  padding-top: 1rem;
  padding-bottom: 5px;
}

.headline_film img {
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.tombolkembali {
  padding-left: 6.5rem;
  width: fit-content;
}

.tombolkembali a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 17px;
  margin-top: 1rem;
  transition: all;
  transition-duration: 300ms; 
}

.tombolkembali a:hover {
  color: yellow; 
}

.icon_home {
  display: flex;
  align-items: center;
}

.icon_home img {
  width: 25px;
}

/*style untuk page about us*/
.container-about {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  color: #fff;
  padding: 2rem;
  justify-content: center;
  width: 60%;
  border-radius: 15px;
  background-color: #262b36;
}

.container-about h2 {
  font-size: 32px;
  margin: auto;
  padding: 1rem;
}

.container-about h1 {
  font-family: Bebas Neue;
  background-color: #262b36;
  position: relative;
  top: 1.3rem;
  margin: auto;
  color: #ffff00;
}

.desc-web {
  border: 3px dotted yellow;
  border-radius: 15px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  padding: 2rem 2rem 2rem 2rem;
  width: 80%;
}

.container-about h3 {
  font-size: 32px;
  color: #ffff00;
  margin: auto;
  background-color: #262b36;
  position: relative;
  bottom: -1.2rem;

}

.tim {
  margin: auto;
  border-radius: 15px;
  padding: 2.5rem 2rem 2rem 2rem;
  border: 3px dotted yellow;
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dotted yellow;
  object-fit: cover;
}

.tim p {
  font-style: italic;
}

.profile {
  
}




/* footer */

footer {
  box-shadow: 10px 4px 1px rgba(0, 0, 0, 0.5);
  background-color: #262b36;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  color: white;
}

footer h3 {
  letter-spacing: 0.5px;
}

.community ul {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  list-style: none;
}

.community ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 3px;
}

.community ul li a:hover {
  color: #262b36;
  text-shadow: 0.5px 0.5px 0.5px black;
}

.community ul li a img {
  width: 18px;
}
.copyright {
  display: flex;
  justify-content: center;
  gap: 3px;
  letter-spacing: 0.4px;
}

/* contact page */

.contact {
  padding: 1rem;
  width: 60%;
  color: white;
  background-color:#262b36;
  margin: 2rem auto 2rem;
  border-radius: 15px;
}

.contact h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 1rem;
  color: #ffff00;
}

.contact p {
  text-align: center;
}

form {
  width: fit-content;
  margin: 3rem auto;
  padding: 1rem 0 2rem 0;
}

label {
  font-size: 19px;
}

input {
  margin-bottom: 10px;
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
  transition: 150ms;

  
}

input:focus {
  outline: 2px solid yellow;
  background: transparent;
  color: white;
}

textarea {
  width: 500px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  outline: none;
  transition: 150ms;
}

textarea:focus {
  outline: 2px solid yellow;
  background: transparent;
  color: white;
}

.submit-contact {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  background-color: #101318;
  color: #fff;
  transition: 300ms;
}

.submit-contact:hover {
  background-color: #fff;
  color: #101318;
}

.submit-contact:active {
  transform: scale(0.9);
}