/*Style untuk semua html*/
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Source Sans Pro", sans-serif;
}

/*Style untuk HOMEPAGE*/

.container {
  background-color: #101318;
}

nav {
  display: flex;
  background-color: #262b36;
  justify-content: space-around;
  padding: 20px 0;
  gap: 36%;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
  display: flex;  
  list-style: none;
  gap: 1rem;
  align-items: center;
}

.navbar h1 {
  font-size: 22px;
  color: yellow;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

nav ul li a {
  text-decoration: none;
  color:white;
  font-weight: 600;
  font-size: 17px;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 2px solid rgba(255, 255, 0, 0);
}

nav ul li a:hover {
  color: yellow;
  border-bottom: 2px solid yellow;
}

.hero {
  font-size: 10px;
  padding: 2rem;
  margin-bottom: -20px;
  color: yellow;
}

.slide-show {
  width: 80%;
  height: 450px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}


.slide-wraper {
  display: flex;
  margin: 0 auto;
  aspect-ratio: 21/9;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  animation: slide 16s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.slide-wraper img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  border-radius: 15px;
}

.comingsoon {
  display: flex;
  padding-top: 2rem;
  padding-left: 9rem;
  padding-bottom: 1rem;
  gap: 0.5rem;
  color: #fff;
}

.comingsoon h2 {
  font-weight: 500;
}

.container-comingsoon {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  width: 80%;
  align-items: flex-start;
  object-fit: cover;
  padding: 1rem;
  white-space: nowrap;
  margin: 0 auto;
  background-color: #ffff00;
}

.container-comingsoon::-webkit-scrollbar {
  display: none;
}

.poster-comingsoon {
  width: 150px;
}

.poster-comingsoon img {
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.poster-comingsoon img:hover {
  transform: scale(1.1);
  z-index: 2;
  
}

.poster-comingsoon h2 {
  margin-top: 7px;
  font-size: 15px;
  font-weight: 300;
}

.arrows {
  position: absolute;
  display: flex;
  align-items: center;
  left: 81%;
  gap: 10px;
}

.arrows button {
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: 1px 1px 1px #000;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  font-family: monospace;
  transition: 0.3s;
}

.arrows button:hover {
  background-color: yellow;
}

.sedang-tayang {
  display: flex;
  padding: 1rem;
  padding-left: 9rem;
  gap: 0.5rem;
  color: #fff;
  margin-top: 2rem;
}

.sedang-tayang h2 {
  font-weight: 500;
}

.content {
  color: rgb(122, 130, 147);
}

.container-poster {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  gap: 2rem;
  object-fit: cover;
  justify-content: center;
  align-items: start;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.poster {
  width: 150px;
}

.poster img {
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.poster:hover img {
  transform: scale(1.1);
  z-index: 2;
}

.poster h2 {
  margin-top: 7px;
  font-size: 15px;
  font-weight: 300;
}

/*Style untuk page film*/

.film_1 {
  margin: auto;
  padding: 2rem;
  color: rgb(122, 130, 147);
}

.trailer video {
  display: flex;
  margin: auto;
  width: 85%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.headline_film {
  padding: 1rem;
  display: flex;
  width: 85%;
  margin: auto;
}

.identitas_film {
  padding-left: 1.5rem;
}

.identitas_film h2 {
  color: yellow;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.identitas_film ul li {
  list-style: none;
  padding: 1rem;
  line-height: 1.5;
}

.ratingfilm {
  display: flex;
  gap: 5px;
  padding-left: 7rem;
  font-size: 27px;
  color: #ffff00;
}

.sinopsis {
  margin: auto;
  width: 85%;
  padding: 1rem;
  text-align: justify;
}

.sinopsis h3 {
  font-style: italic;
  padding-top: 1rem;
  padding-bottom: 5px;
}

.headline_film img {
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.tombolkembali {
  display: flex;
  padding: 1rem;
  padding-left: 6.5rem;
}

.tombolkembali a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 17px;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 2px solid rgba(255, 255, 0, 0);
}

.tombolkembali:hover a {
  color: yellow;
  border-bottom: 2px solid yellow;
}

.icon_home {
  display: flex;
  align-items: center;
}

/*style untuk page about us*/
.container-about {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #fff;
  padding: 1rem;
  justify-content: center;
  width: 80%;
}

.container-about h2 {
  display: flex;
  margin: auto;
  padding: 1rem;
  padding-bottom: 2rem;
}

.container-about h1 {
  display: flex;
  margin: auto;
  padding-bottom: 2rem;
  color: #ffff00;
}

.desc-web {
  text-align: justify;
  justify-content: center;
  font-size: 20px;
}

.container-about h3 {
  display: flex;
  justify-content: center;
  padding: 3rem;
  padding-bottom: 2rem;
}

.tim {
  display: grid;
  grid-template-columns: 155px 155px 155px 155px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.avatar img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -2rem;
}

.tim p {
  font-style: italic;
}

.profile {
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 15px;
  width: 230px;
  height: 350px;
  align-content: center;
}

.sosmed {
  display: flex;
  line-height: 1.7;
  text-align: justify;
  gap: 5px;
}

.sosmed img {
  width: 20px;
}


